@using FoodHunter.Web.DataLayer
@model IEnumerable<FoodHunter.FoodHunterWeb.AppLayer.ViewModels.List.CheckInListViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <table class="table">
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.UserName, "Details", "Foodie", new { @id = item.UserId }, null) checked in at @Html.ActionLink(item.RestaurantName, "Details", "Restaurant", new {@id=item.RestaurantId}, null) at <b>@item.CheckInTime</b>
            </td>
            
            @if (Session["UserId"] != null && Session["UserType"].ToString() == UserType.Foodie.ToString())
            {
                if (item.UserId.ToString() == Session["UserId"].ToString())
                {
                    <td>
                        @Html.ActionLink("Delete", "Delete", new {id = item.CheckInId})
                    </td>
                }
            }
        </tr>
    }
    
    </table>
</body>
</html>
